<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-menu-toggle>
          <ion-list>
            <ion-list-header>
              <ion-note>
                {{'baslik' |translate}}
              </ion-note>
            </ion-list-header>
            <ion-item *ngFor="let brand of data?.brands" lines="none" routerLink="cars/{{brand.url}}">
              {{brand.name}}
            </ion-item>
          </ion-list>

        </ion-menu-toggle>
        <ion-item lines="none">
          <ion-img style="width: 30px;" slot="end" [src]="selectedLanguage">
          </ion-img>
          <ion-select interface="popover" toggleIcon="" label="{{'seçenek' | translate}}"
            (ionChange)="changeLanguage($event)  ">
            <ion-select-option *ngFor="let option of languageOptions" [value]="option.code">

              <ion-img src="../../assets/flags/de.png"></ion-img>
              {{ option.name }}
            </ion-select-option>
          </ion-select>
        </ion-item>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>