ion-card-header{
    transition: all 0.5s ease-in-out;
    --background: linear-gradient(to bottom, #2b87a3, #000000);
    color: #fff;
}
ion-toolbar{
    --background:#fff
}

ion-content{
    --background: #fff;
}
ion-card{
    justify-content: center;
    margin-left: 5px; 
    margin-right: 5px; 
    border-radius: 10px;
    margin: 0 auto ;
}
.map-card{
  
     margin-left: 5px; 
     margin-right: 5px; 
     border-radius: 10px;
 }
 ion-menu-button{
    --color: #2b87a3;
    }