ion-toolbar{
    --background:#fff;  
}

ion-content{
    margin: 0 auto;
    justify-content: center;
    --background: #fff;
}

ion-card{
    transition: all 0.5s ease-in-out;
    --background: linear-gradient(to bottom, #2b87a3, #000000);
   
}
    ion-card-content {
        color: #fff;
    }
   ion-label{
    p{
        color: #a3a1a1;
        font-size:0.7rem
    }
    }
  